*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../img/large.jpg);
    background-repeat: repeat;
    background-size: cover;
}
.bg-color-blue{
    background-color: #36465D;
}
.color-white{
    color: rgba(255, 255, 248, 0.69);
}
.d-block{
    display: block;
}
#receptor{
    background-color:aliceblue;
    border-radius: 3%;
    padding: 12px 23px 18px 23px;
    width: 100%;
    display: none;
}
.botonAgregar{
    margin: 5%;
}

.hTitulo,
.pTexto{
    word-wrap: break-word
}